
{% block title %}404 - Not Found{% endblock %}

{% block content %}

<div class="container">
  <h1>404 - Not Found 😞</h1>
  <p>Skyler White would say, 'I can't launder this page, it's disappeared into thin air!</p>
  <p>Hank Schrader would say, 'Damn it, Marie! This page is minerals, not found.</p>
  <p>It seems like Saul Goodman took this page and vanished, just like his legal troubles</p>
  <p>Like Tuco Salamanca, this page went boom! It's nowhere to be found.</p>
</div>

<br><br><br><br><br><br>
{% endblock %}